/*Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

/*Element Selectors*/
textarea{
    border: 1px solid turquoise;
}
body{
    font-family: 'ZCOOL KuaiLe', cursive, monospace;    
    font-size: 18px;
    line-height: 2;
    background-color: darkslategray;
}
/*Class element selectors*/
.container{
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 3%;
}
.jumbotron{
    color: turquoise;
    background-color: black;
    text-align: center;
    border-radius: 2px;

}
.time-block{
    border-radius: 15px;
    background-color:black;
    color: cyan;
}
.saveBtn{
    background-color: turquoise;
    border: 1px solid black;
}

.localStorageText{
    text-align: center;
    color: coral;
    font-size: 25px;
    
}
.row {
    white-space: pre-wrap;
    height: 150px;
    border-top: 1px solid white;
  }
  .deleteBtn{
    background-color: red;
    border: 1px solid black;
}
/*Remove style from list*/
.eventList{
    list-style: none;
}
/*Changes color of event based on current time*/
.past{
    background-color: crimson;
    color: black;
}
.present{
    background-color: dodgerblue;
    color:black
}
.future{
    background-color: chartreuse;
    color: black;

}
.blank{
    background-color: white;
}

/*Media Queries to change with screen size adjustments*/

@media screen and (max-width: 900px){

    .container{
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 775px){

    .container{
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 550px){

    .container{
        margin-bottom: 0%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
