.container{
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 3%;
}
.jumbotron{
    color: turquoise;
    background-color: black;
    text-align: center;
    border-radius: 2px;

}
.time-block{
    border-radius: 15px;
}
.saveBtn{
    background-color: turquoise;
    border: 1px solid black;
}
textarea{
    border: 1px solid turquoise;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 2;
    background-color: darkslategray;
}
.localStorageText{
    text-align: center;
    color: coral;
    
}
.row {
    white-space: pre-wrap;
    height: 150px;
    border-top: 1px solid white;
  }
  .deleteBtn{
    background-color: red;
    border: 1px solid black;
}

.eventList{
    list-style: none;
}
.past{
    background-color: crimson;
    color: black;
}
.present{
    background-color: dodgerblue;
    color:black
}
.future{
    background-color: chartreuse;
    color: black;

}
.blank{
    background-color: white;
}

@media screen and (max-width: 900px){

    .container{
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 775px){

    .container{
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 550px){

    .container{
        margin-bottom: 0%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
